* {
  /* box-sizing: border-box; */
  margin: 0;
}

body {
  background: radial-gradient(circle, #05bd86, #006b20);
}

p,
article,
h2,
h1 {
  color: #01070e;
}

ul {
  padding: 0;
}

.title-container {
  box-sizing: border-box;
  position: relative;
  text-align: center;
  font-size: 3rem;
  background-color: rgba(5, 189, 134, 0.344);
  color: #01070e;
  border: solid #07df7a;
  width: 100%;
  top: 0;
  margin-top: 0;
}

.nav-banner {
  padding: 15px 0;
  width: 100%;
  position: fixed;
  z-index: 10;
  bottom: 3%;
  text-align: center;
  background-color: rgb(5, 189, 134, 0.5);
}

.nav-container {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

.nav-container i {
  font-size: 2rem;
  border-radius: 5px;
  background-color: #005119;
  padding: 5px;
  color: #01070e;
  border: solid 1px black;
}

.nav-container i:hover {
  color: #006b20;
  background-color: #05bd86;
}

.nav-banner a.active {
  cursor: pointer;
  color: black;
}
/* active no longer working */
.first-question-container {
  box-sizing: border-box;
  position: relative;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  width: 50%;
  left: 25%;
  margin: 1.5rem;
  border: solid black;
  border-radius: 5px;
  background-color: #05bd86;
}

.second-question-container {
  box-sizing: border-box;
  position: relative;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  width: 50%;
  left: 25%;
  margin: 1.5rem;
  border: solid black;
  border-radius: 5px;
  background-color: #05bd86;
}

.third-question-container {
  box-sizing: border-box;
  position: relative;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  width: 50%;
  left: 25%;
  margin: 1.5rem;
  border: solid;
  border-radius: 5px;
  background-color: #05bd86;
}

.first-question-container i {
  position: absolute;
  top: -1rem;
  right: 10px;
  font-size: 2rem;
}

.second-question-container i,
.third-question-container i {
  position: absolute;
  top: -1rem;
  right: 10px;
  font-size: 2rem;
}

.categories-container {
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  list-style: none;
  width: 50%;
  padding: 0;
}

.html,
.flexbox,
.css,
.javascript {
  border: solid 1px #07df7a;
  border-radius: 5px;
  background-color: #05bd86;
  font-size: 1rem;
}

.description-container {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.profile-name {
  position: relative;
  bottom: 80%;
  left: 20%;
}

.profile-picture {
  position: relative;
  top: 10%;
  margin: 3rem;
  width: 15rem;
  border-radius: 50%;
}

.about-me {
  position: relative;
  top: 25%;
}

.about-me-text {
  position: relative;
  top: 20%;
}
