body {
  /* background-color: black; */
  margin: 0;
}

.title-container {
  box-sizing: border-box;
  position: relative;
  text-align: center;
  font-size: 3rem;
  background-color: rgb(169, 169, 169);
  color: rgb(0, 0, 0);
  border: solid black;
  width: 100%;
  top: 0;
  margin-top: 0;
}

.nav-banner {
  padding: 15px 0;
  width: 100%;
  position: fixed;
  z-index: 10;
  bottom: 3%;
  text-align: center;
  background-color: rgb(192, 192, 192, 0.5);
}

.nav-container {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

.nav-container i {
  font-size: 2rem;
  border-radius: 5px;
  background-color: rgb(173, 216, 230);
  padding: 5px;
  color: black;
}

.nav-container i:hover {
  color: lightslategray;
  background-color: bisque;
}

.first-question-container {
  box-sizing: border-box;
  position: relative;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  width: 50%;
  left: 25%;
  margin: 1.5rem;
  border: solid black;
  border-radius: 5px;
  background-color: rgb(169, 169, 169);
}

.second-question-container {
  box-sizing: border-box;
  position: relative;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  width: 50%;
  left: 25%;
  margin: 1.5rem;
  border: solid black;
  border-radius: 5px;
  background-color: rgb(169, 169, 169);
}

.third-question-container {
  box-sizing: border-box;
  position: relative;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  width: 50%;
  left: 25%;
  margin: 1.5rem;
  border: solid black;
  border-radius: 5px;
  background-color: rgb(169, 169, 169);
}

.first-question-container i {
  position: absolute;
  top: -1rem;
  right: 10px;
  font-size: 2rem;
}

.second-question-container i,
.third-question-container i {
  position: absolute;
  top: -1rem;
  right: 10px;
  font-size: 2rem;
}

.categories-container {
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  width: 50%;
  padding: 0;
}

.html,
.flexbox,
.css,
.javascript {
  border: solid 1px;
  border-radius: 5px;
  background-color: rgb(173, 216, 230);
  font-size: 1rem;
}
