.nav-banner {
  padding: 15px 0;
  width: 100%;
  position: fixed;
  bottom: 3%;
  text-align: center;
  background-color: rgb(253, 242, 242, 0.5);
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}
/* suggested was background-color: rgba(var(--background-rgb */

.nav-banner i {
  font-size: 2rem;
  border-radius: 5px;
  background-color: var(--secondary);
  padding: 5px;
  color: var(--text);
  border: solid 1px var(--accent);
}

.nav-banner i:hover {
  color: var(--primary);
  background-color: var(--background);
  cursor: pointer;
}

.nav-banner a.active {
  filter: brightness(300%);
}
