:root {
  --text: #100304;
  --background: #fdf2f2;
  --primary: #da2f33;
  --secondary: #e8bb82;
  --accent: #e4cd68;
  --text-dark: #fceeef;
  --background-dark: #0d0202;
  --primary-dark: #d02528;
  --secondary-dark: #7d5117;
  --accent-dark: #98811b;
}
