@import "/components/titel.css";
@import "/components/question-cards.css";
@import "/components/nav-bar.css";
@import "/components/profile.css";
@import "/components/create-cards.css";
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: radial-gradient(circle, var(--primary), var(--background));
}

p,
article,
h2,
h1 {
  color: #01070e;
}

ul {
  padding: 0;
}
:root {
  --text: #100304;
  --background: rgb(253, 242, 242);
  --primary: #da2f33;
  --secondary: #e8bb82;
  --accent: #e4cd68;
  --text-dark: #fceeef;
  --background-dark: #0d0202;
  --primary-dark: #d02528;
  --secondary-dark: #7d5117;
  --accent-dark: #98811b;
}
