.first-question-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  height: 15rem;
  top: -5rem;
  transform: translate(50%, 50%);
  margin-bottom: 3rem;
  border: solid var(--text);
  background-color: var(--secondary);
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.second-question-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  height: 15rem;
  top: -5rem;
  /* Why start top 0 at the point it is starting?? */
  transform: translate(50%, 50%);
  margin-bottom: 3rem;
  border: solid var(--text);
  background-color: var(--secondary);
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.third-question-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  height: 15rem;
  top: -5rem;
  /* Why start top 0 at the point it is starting?? */
  transform: translate(50%, 50%);
  margin-bottom: 3rem;
  border: solid var(--text);
  background-color: var(--secondary);
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.first-question-container p,
.second-question-container p,
.third-question-container p {
  position: relative;
  top: 10%;
}

[type="button"] {
  position: relative;
  top: 10%;
  margin: 5px;
}

.categories-container {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 1rem;
  padding: 0;
  list-style: none;
}

.html,
.flexbox,
.css,
.javascript {
  border: solid 1px var(--primary);
  border-radius: 5px;
  background-color: var(--background);
  font-size: 1rem;
  margin: 5px;
}

.first-question-container i {
  position: absolute;
  top: -1rem;
  right: 10px;
  font-size: 2rem;
}

.second-question-container i,
.third-question-container i {
  position: absolute;
  top: -1rem;
  right: 10px;
  font-size: 2rem;
}
