.title-container {
  /* box-sizing: border-box; */
  position: relative;
  text-align: center;
  font-size: 3rem;
  background-color: var(--background);
  color: var(--text);
  border: solid var(--accent);
  width: 100%;
  top: 0;
  margin-top: 0;
}
