.question-container {
  position: relative;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; */
  width: 50%;
  top: 50px; /* WARUM KEINE PROZENT? */
  left: 25%;
  margin-bottom: 3rem;
  border: solid var(--text);
  border-radius: 15px;
  background-color: var(--secondary);
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
/* transform: translate(50%, 50%); WARUM VERSETZT DIESE SCHEISSE MEINE CARD */
.answer {
  display: none;
}

.categories-container {
  /* position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; */
  margin: 1rem;
  list-style: none;
}

.categorie {
  border: solid 1px var(--primary);
  border-radius: 5px;
  background-color: var(--background);
  font-size: 1rem;
  margin: 5px;
  padding: 0 10px 0 10px;
  display: inline-block;
}

.question-container i {
  position: absolute;
  top: -1rem;
  right: 10px;
  font-size: 2rem;
}
/* .fa{
  position: absolute;
  top: -1rem;
  right: 10px;
  font-size: 2rem;
 } Same as above. why smaller? */

/* .button {
  position: relative;
  top: 10%;
  margin: 5px;
} */

/* 
.question-container p {
  position: relative;
  top: 10%;
}

.answer {
  position: relative;
  top: 10%;
  margin: 5px;
  display: none;
} */
